* {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Definir un estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    /* Cambia "Arial" a la fuente que desees utilizar */
    font-size: 16px;
    /* Tamaño de la fuente */
    color: #333;
    /* Color del texto */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo para los encabezados h1 */
h1 {
    font-family: "Poppins", sans-serif;
    /* Cambia "Helvetica Neue" a la fuente que desees utilizar */
    font-size: 36px;

}

/* Estilo para los párrafos */
p {
    font-family: "Poppins", sans-serif;
    /* Cambia a la fuente que desees utilizar */
    font-size: 18px;
    color: #666;
}


/* css de los elementos de la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7CAC9;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-column {
    text-align: center;
    flex-grow: 1;
}

input {
    width: 90%;
    padding: 8px;
    margin: 0;
    border-radius: 8px;
    border: none;
    background-color: #fff1f1;
    color: #6d6d6d;
}

a {
    color: #1b1a1a;
    text-decoration: none;
    margin: 0 12px;
    font-size: 1rem;
}

a:hover {
    color: #ffffff;
    transition: all, 0.5s;

}

.Logo {
    width: 130px;
    height: 100px;
}

/* css de la barra de busqueda */
.barraBusqueda {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.barraBusqueda input {
    padding: 20px;
    padding-left: 48px;
    margin-right: 20px;
}

.barraBusqueda img {
    width: 24px;
    height: 24px;
    opacity: 0.4;
    position: relative;
    left: 50px;
    top: 16px;
}

/* css de carrusel de fotos */
.carousel {
    width: 100%;
}

.carousel-content {
    width: 100%;
    height: 630px;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
    align-content: center;
    margin-right: 50%;
}

/* Tamaño deseado de las imágenes */
.carousel-item img {
    width: 100%;
    height: 100%;
}

#itemCarousel-1 {
    /* Ruta de la primera imagen */
    background-image: url('../Imagenes/2.jpg');
    background-size: cover;
    background-position: center 40%;
    height: 100%;
}

#itemCarousel-2 {
    /* Ruta de la primera imagen */
    background-image: url('../Imagenes/5.jpg');
    background-size: cover;
    background-position: center 55%;
    height: 100%;
}

#itemCarousel-3 {
    /* Ruta de la primera imagen */
    background-image: url('../Imagenes/6.jpg');
    background-size: cover;
    background-position: center 15%;
    height: 100%;
}

.carousel-controller {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 720px;
}

.carousel-controller>a {
    text-decoration: none;
    font-size: 2em;
    color: #7d7d7d;
    margin: 0 10px;
}

/* css del boton para ir a la pagina de servicios */
.btnServicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

/* css del footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #F7CAC9;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    gap: 16px;

}

.social a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.social a img {
    width: 28px;
    height: 28px;
    transition: transform 0.2s;
}

.social a img:hover {
    transform: scale(1.3);
    transition: all, 0.5s;
}

/* css para ocultar la barra de scroll */
::-webkit-scrollbar {
    display: none;
}

/* css pagina servicios */
.tituloPagina {
    color: #4b4b4b;
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 12px;
}

.tituloPagina p {
    font-size: 1.5rem;
}

.tituloPagina h1 {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.tituloPagina p {
    display: flex;
    justify-content: center;
    padding: 18px;
}

.tituloPagina hr {
    height: 2px;
    background-color: #DFC583;
}

.seccion {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.seccion2 {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.seccion h1 {
    margin: 0;
    font-size: 2rem;
}

.seccion2 h1 {
    display: flex;
    margin: 0;
    font-size: 1.5rem;
}

.seccion p {
    margin: 0 14%;
    font-size: 1.5rem;
}

.seccion2 p {
    margin: 0 14%;
    font-size: 1.5rem;
}

/* css de las cartas de los servicios */
.containerCards {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    justify-items: center;
    margin: 50px;
    gap: 32px;
}

.card {
    position: relative;
    width: auto;
    height: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #232323;
    opacity: 0.8;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0 24px;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 700;
}

.card__description {
    margin: 10px 24px 0;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.4;
}

.banner {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.banner img {
    box-sizing: border-box;
    width: 100%;
}