* {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Definir un estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif; /* Cambia "Arial" a la fuente que desees utilizar */
    font-size: 16px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
  }
  
  /* Estilo para los encabezados h1 */
  h1 {
    font-family: "Poppins", sans-serif; /* Cambia "Helvetica Neue" a la fuente que desees utilizar */
    font-size: 36px;
    
  }
  
  /* Estilo para los párrafos */
  p {
    font-family: "Poppins", sans-serif; /* Cambia a la fuente que desees utilizar */
    font-size: 18px;
    color: #666;
  }
  

#quienes-somos {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

h2 {
    font-size: 24px;
}
/* css de los elementos de la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7CAC9;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
    
}

.nav-column {
    text-align: center;
    flex-grow: 1;
    
}



input {
    width: 90%;
    padding: 8px;
    margin: 0;
    border-radius: 8px;
    border: none;
    background-color: #fff1f1;
    color: #6d6d6d;
}

a {
    color: #1b1a1a;
    text-decoration: none;
    margin: 0 12px;
}

a:hover {
    color: #ffffff;
    transition: all, 0.5s;

}

.Logo {
    width: 130px;
    height: 100px;
}

/* css de la barra de busqueda */
.barraBusqueda {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.barraBusqueda input {
    padding: 20px;
    padding-left: 48px;
    margin-right: 20px;
}

.barraBusqueda img {
    width: 24px;
    height: 24px;
    opacity: 0.4;
    position: relative;
    left: 50px;
    top: 16px;
}

/* css de carrusel de fotos */
.carousel {
    width: 100%;
}

.carousel-content {
    width: 100%;
    height: 630px;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
    align-content: center;
    margin-right: 50%;
}

/* Tamaño deseado de las imágenes */
.carousel-item img {
    width: 100%;
    height: 100%;
}

#itemCarousel-1 {
    /* Ruta de la primera imagen */
    background-image: url('../Imagenes/2.jpg');
    background-size: cover;
    background-position: center 40%;
    height: 100%;
}

#itemCarousel-2 {
    /* Ruta de la primera imagen */
    background-image: url('../Imagenes/5.jpg');
    background-size: cover;
    background-position: center 55%;
    height: 100%;
}

#itemCarousel-3 {
    /* Ruta de la primera imagen */
    background-image: url('../Imagenes/6.jpg');
    background-size: cover;
    background-position: center 15%;
    height: 100%;
}

.carousel-controller {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 720px;
}

.carousel-controller>a {
    text-decoration: none;
    font-size: 2em;
    color: #7d7d7d;
    margin: 0 10px;
}

/* css del boton para ir a la pagina de servicios */
.btnServicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

/* css del footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #F7CAC9;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    gap: 16px;

}

.social a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.social a img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
}

.social a img:hover {
    transform: scale(1.2);
    transition: all, 0.5s;
}

/* css para ocultar la barra de scroll */
::-webkit-scrollbar {
    display: none;
}

/* css pagina servicios */
.tituloPagina {
    color: #4b4b4b;
    display: flex;
    flex-direction: column;
    margin: 32px 40px;
    gap: 12px;
}

/* css de las cartas de los servicios */
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin: 32px 0;
    justify-content: center;
}

.cardServicios {
    row-gap: 8px;
    background-color: #ffffff;
    border: solid 2px;
    border-color: #7d7d7d;
    padding: 32px;
    margin: 8px;

    
}

.cardServicios h3 {
    font-weight: bold;
}

.cards .cardServicios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: #d48686;
    cursor: pointer;
    transition: 400ms;
}

.cards .cardServicios:hover {
    transform: scale(1.1, 1.1);
    /* border: solid 1px; */
}

.cards .cardServicios img {
    width: 100%;
    height: 100%;
}

/* 
.cards:hover>.cardServicios:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
} */